.ant-tabs-nav::before {
    border-bottom: 0!important;
}
.ant-tabs-tab {
    color: #1C3B5E!important;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #2F639B!important;
}
.ant-tabs .ant-tabs-ink-bar {
    background-color: #2F639B!important;

}